
<div class="index-container">

            <div class="index-titlebox">

                          <h2>Virgil: A Simple Mobile UI</h2>
            </div> <!--end titlebox-->
            
            <div class="index-videobox">
              <iframe width="840" height="610" src="http://skiptrace.design.s3.amazonaws.com/Virgil_Video/Virgil-Movie.html" frameborder="0" allowfullscreen></iframe>
            </div><!--end videobox-->
            
            <div class="index-buttonbox">
            
                <div class="Learn_More_box">
                      
                
                       <h2><%= link_to "Learn More", "static_pages/learn_more", :class => "index-redbox"%></h2>
                  
                </div> <!--end Learn_More_box-->
            </div>

  

      <div class="index-buttonbox">
            
            <div class="Sign_Up_box">

                    <a href="#myModal" role="button" data-toggle="modal" class="index-button">
                        <div class="index-bluebox">
                            <h2><%= link_to "Sign Up", "registrations#new" %></h2>
                        </div>
                    </a>
                        
            </div><!-- end Sign_Up_box-->

      </div>


<!-- Modal -->


<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">close</button>

        <h2 id="myModalLabel">create a profile</h2>

    </div> <!-- end modal header -->

    <div class="modal-body">

  



                  <div class="index-formbox-wrapper">
                    
                        <h3>Email address</h3>
                        
                     
                   </div> <!--end formbox-wrapper-->
                   
                    <div class="clear"></div>
                    
                   <div class="index-formbox-wrapper">

                       
                    </div> <!--end formbox-wrapper-->

                   <div class="index-formbox-wrapper">

                    </div> <!--end formbox-wrapper-->

               <div class="index-formbox-wrapper">

        

               </div> <!--end formbox-wrapper-->

               

    </div> <!-- end modal body -->

    <div class="modal-footer">

         <button class="index-button">Save</button>

         <a href="FAQ.html"><button class="index-button">FAQ's</button></a>

    </div><!-- end modal footer -->


</div> <!-- end myModal -->
</div>
            
      <div class="index-loginbox">
                    
                <div class="index-usernamebox">
                    <form>
                    <input type="text" name="index-username" class="index-login-formbox" placeholder=" email address">
                    </form>
                </div> <!-- end usernamebox -->
                   
                <div class="passwordbox">    
                    <form>
                    <input type="password" name="index-password" class="index-login-formbox" placeholder=" password">
                    </form>
                </div> <!-- end passwordbox -->
                    
              <input type="submit" class="index-button" name="index-login" value="Login">
            
      </div> <!--end loginbox-->
         
            
    </div><!--end container-->